* {
    padding: 0;
    margin: 0;
    max-width: 1920px;
    height: 1080px;
}

@import url(https://fonts.google.com/specimen/Playfair+Display);

.navbar,
.navbar * {
  box-sizing: border-box;
}
.navbar {
  position: relative;
}
.foto {
  width: 1920px;
  height: 1080px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 0px;
  object-fit: cover;
}


.gradient {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(102, 102, 102, 0) 0%
  );
  width: 1920px;
  height: 1080px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 0px;
}
.button {
  background: #ffffff;
  border-radius: 10px;
  opacity: 0.13;
  width: 170px;
  height: 55px;
  position: absolute;
  left: 1482px;
  top: 54px;
  backdrop-filter: blur(5000px);
}
.gallery {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 268px;
  top: 70px;
  width: 170px;
  height: 23px;
}
.menu {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 535px;
  top: 70px;
  width: 121px;
  height: 23px;
}
.about-us {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1264px;
  top: 70px;
  width: 121px;
  height: 23px;
}
.reservation {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1482px;
  top: 70px;
  width: 170px;
  height: 23px;
}
.logo {
   width: 346.75px;
  height: 147px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 36px;
  object-fit: cover;
  aspect-ratio: 346.75/147;;
}
.headlineutama {
  color: #f5f5f5;
  text-align: left;
  font-family: "PlayfairDisplay-Bold", serif;
  font-size: 112.2205810546875px;
  line-height: 134.68px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 790px);
  top: 683px;
  width: 1515px;
  height: 385px;
}

